* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Verdana', sans-serif;
	height: 100vh;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 1fr 40px;
}

h2 {
	font-size: 2rem;
	margin-bottom: 20px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px;
}

header h1 {
	color: #333;
	margin: 0;
	font-weight: normal;
	font-size: 2rem;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: rgba(0,0,0,.5);
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline;
	margin: 0 8px 0 0;
	padding: 0;
}

div.page {
	width: 100%;
	max-width: 80vw;
	margin: 1rem auto;
}

footer {
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
}

.posts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.post {
	width: 100%;
}

.post img {
	width: 100%;
}

.post .post-content {
	display: flex;
	justify-content: space-between;
}
